//text-color
$text-clr:                #0065ff;
$text-clr-2:              #002358;
$text-clr-3:              #264d89;
$text-clr-4:              #3d81f7;
$text-clr-5:              #0b3574;
$text-clr-6:              #214a88;
$text-clr-7:              #8ba7d3;
//bg-color

$bg-clr:                  #e7f0ff;
$bg-clr-2:                #f1f6ff;
$bg-clr-3:                #0060ff;
$bg-clr-4:                #b3d1ff;
$bg-clr-5:                #00b052;
$bg-clr-6:                #eb0a25;
$bg-clr-7:                #FFFFFF;
$bg-clr-8:                #eaf1ff;
$bg-clr-9:                #e9f2ff;
$bg-clr-10:               #254c89;
$bg-clr-11:               #126bff;
$bg-clr-12:               #bbd3fa;
$bg-clr-13:               #f1f6ff;
$bg-clr-14:               #5bffa8;
$bg-clr-15:               #dae8fe;

//border-color
$border-clr:              #cee1ff;
$border-clr-2:            #bfd4f5;
$border-clr-3:            #d8e7ff;
$border-clr-4:            #18366b;
